<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://qd.leaderhero.com/qd/tbtui/20180823/tbtui_zb_iPhone_v4.0.4_7kOZO_18082314_1.ipa</string>
               </dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.tongbu.com/logo/newtui50.png</string>
				</dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://www.tongbu.com/logo/newtui50.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.tongbu.tui.6Z99FT2VD6</string>
               <key>bundle-version</key>
               <string>4.0.4</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>同步网络</string>
               <key>title</key>
               <string>同步推4.0.4</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
